@using PP.CoffeeShop.Presentation.Data;
@model List<Drink>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Menu</h2>

@foreach (var drink in Model)
{
    <a asp-controller="Menu" asp-action="Details" asp-route-id="@drink.Id">
        <img src="@drink.ThumbnailImageUrl" alt="..." class="img-thumbnail">
    </a>
    
}

@*<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Calories</th>
            <th scope="col">ImageUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Calories</td>
                <td>@item.ImageUrl</td>
            </tr>
        }
        
    </tbody>
</table>*@